{"openapi":"3.0.0","servers":[{"url":"http://cart.superveda.link/api","description":"","variables":{}}],"info":{"version":"46e3815d-01ea-4a8a-af16-7e80f38ca7ad","title":"OpenCartPurchasedAPI","description":"# Introduction\nAllows use of OpenCart via API","termsOfService":"","contact":{},"license":{"name":""}},"paths":{"/getProduct":{"post":{"summary":"getProduct","operationId":"getProduct","parameters":[],"responses":{"200":{"description":"","headers":{}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["username","password","product_id"],"properties":{"username":{"type":"string","example":"apiuser"},"password":{"type":"string","example":"ahsjdgFFSua7s6f"},"product_id":{"type":"string","example":"42"}}},"example":[{"key":"username","value":"apiuser","type":"text"},{"key":"password","value":"ahsjdgFFSua7s6f","type":"text"},{"key":"product_id","value":"42","type":"text"}]}}}}},"/addEditProduct":{"post":{"summary":"addEditProduct","operationId":"addEditProduct","parameters":[],"responses":{"200":{"description":"","headers":{}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["username","password","product_description[0]","product_description[1]","product_description[2]","product_description[3]","product_description[4]","product_description[5]","model","sku","upc","ean","jan","isbn","mpn","keyword","location","quantity","minimum","subtract","stock_status_id","date_available","manufacturer_id","shipping","price","points","weight","weight_class_id","length","width","height","length_class_id","status","tax_class_id","sort_order"],"properties":{"username":{"type":"string","example":"apiuser"},"password":{"type":"string","example":"ahsjdgFFSua7s6f"},"product_description[0]":{"type":"string","example":"name"},"product_description[1]":{"type":"string","example":"meta_title"},"product_description[2]":{"type":"string","example":"description"},"product_description[3]":{"type":"string","example":"tag"},"product_description[4]":{"type":"string","example":"meta_description"},"product_description[5]":{"type":"string","example":"meta_keyword"},"model":{"type":"string","example":"model"},"sku":{"type":"string","example":"sku"},"upc":{"type":"string","example":"upc"},"ean":{"type":"string","example":"ean"},"jan":{"type":"string","example":"jan"},"isbn":{"type":"string","example":"isbn"},"mpn":{"type":"string","example":"mpn"},"keyword":{"type":"string","example":"keyword"},"location":{"type":"string","example":"location"},"quantity":{"type":"string","example":"1"},"minimum":{"type":"string","example":"0"},"subtract":{"type":"string","example":"subtract"},"stock_status_id":{"type":"string","example":"1"},"date_available":{"type":"string","example":"01/01/2022"},"manufacturer_id":{"type":"string","example":"101"},"shipping":{"type":"string","example":"shipping"},"price":{"type":"string","example":"10.99"},"points":{"type":"string","example":"100"},"weight":{"type":"string","example":"5"},"weight_class_id":{"type":"string","example":"1"},"length":{"type":"string","example":"10"},"width":{"type":"string","example":"5"},"height":{"type":"string","example":"2"},"length_class_id":{"type":"string","example":"1"},"status":{"type":"string","example":"status"},"tax_class_id":{"type":"string","example":"1"},"sort_order":{"type":"string","example":"4"}}},"example":[{"key":"username","value":"apiuser","type":"text"},{"key":"password","value":"ahsjdgFFSua7s6f","type":"text"},{"key":"product_description[0]","value":"name","type":"text"},{"key":"product_description[1]","value":"meta_title","type":"text"},{"key":"product_description[2]","value":"description","type":"text"},{"key":"product_description[3]","value":"tag","type":"text"},{"key":"product_description[4]","value":"meta_description","type":"text"},{"key":"product_description[5]","value":"meta_keyword","type":"text"},{"key":"model","value":"model","type":"text"},{"key":"sku","value":"sku","type":"text"},{"key":"upc","value":"upc","type":"text"},{"key":"ean","value":"ean","type":"text"},{"key":"jan","value":"jan","type":"text"},{"key":"isbn","value":"isbn","type":"text"},{"key":"mpn","value":"mpn","type":"text"},{"key":"keyword","value":"keyword","type":"text"},{"key":"location","value":"location","type":"text"},{"key":"quantity","value":"1","type":"text"},{"key":"minimum","value":"0","type":"text"},{"key":"subtract","value":"subtract","type":"text"},{"key":"stock_status_id","value":"1","type":"text"},{"key":"date_available","value":"01/01/2022","type":"text"},{"key":"manufacturer_id","value":"101","type":"text"},{"key":"shipping","value":"shipping","type":"text"},{"key":"price","value":"10.99","type":"text"},{"key":"points","value":"100","type":"text"},{"key":"weight","value":"5","type":"text"},{"key":"weight_class_id","value":"1","type":"text"},{"key":"length","value":"10","type":"text"},{"key":"width","value":"5","type":"text"},{"key":"height","value":"2","type":"text"},{"key":"length_class_id","value":"1","type":"text"},{"key":"status","value":"status","type":"text"},{"key":"tax_class_id","value":"1","type":"text"},{"key":"sort_order","value":"4","type":"text"}]}}}}}},"components":{},"security":[],"tags":[],"externalDocs":{"url":"","description":""}}